<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
</head>
<body>
    <h2>User Registration</h2>
    <form action="/success" method="POST">

        <label>Username:</label>
        <input type="text" name="username" required>
        <br><br>

        <label>Email:</label>
        <input type="email" name="email" required>
        <br><br>

         <label>Event:</label>
        <input type="text" name="Event" required>
        <br><br>

        <button type="submit">Register</button>

    </form>

</body>
</html>